@import './styles/variables';
@import './styles//mixins';

.app {
  max-width: 1512px;
  margin: 0 auto;
  background-color: $primary-dark;
}

.container {
  margin: 0 auto;
  max-width: 1351px;
  background-color: $primary-light;
}
.container:last-child {
  padding-bottom: 160px;
}

.wrapper {
    margin: 0 auto;

  max-width: 1168px;
}

.section {

  &__title {
    text-align: center;
    font-family: 'Oswald';
    padding-top: 40px;
    padding-bottom: 60px;
    @include onTablet {
font-size: 60px;
    }
  }
}

