@import './styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: $primary-dark;
  font-family: 'Roboto', sans-serif;
}

body,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
}
