@import '../../styles/mixins';

.galery {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 1168px;
  background-color: #fff;

  @include onTablet {
    padding: 0 48px;
  }

  @media screen and (min-width: 1350px) {
    padding: 0;
  }
}

.slider {
  position: relative;
  margin: 0 auto;
  max-width: 1168px;

  &__arrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;

    @include onDesktop {
      width: 76px;
      height: 76px;
    }

    &:active {
      transform: scale(1.2);
    }
  }

  &__arrow--left {
    left: 0;

    @include onDesktop {
      left: -38px;
    }
  }

  &__arrow--right {
    right: 0;

    @include onDesktop {
      right: -38px;
    }
  }

  &__track {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  &__slide {
    min-width: 239px;
    max-width: 304px;
    height: 304px;
    margin-left: 20px;

    @include onTablet {
      margin-left: 43px;
    }
  }

  &__slide:first-child {
    margin-left: 0;
  }
}
